/* Menu */
.menu-bar {
    width: 100%;
}

.menu-item .m-icon{
    width: 150px;
    height: 50px;
    font-weight: bold;
    color: #111d5e!important;
    font-size: 20px;
}

.m-icon:hover{
    color:#f37121;
}

.menu-icon {
    width: 100px;
    height: auto;
}

/*Banner div*/
.banner-div {
    height: 100vh;
    width: 100%;
}

/* Caption Banner */
.caption-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.caption-img h2{
    color: #111d5e;
    font-size: 50px;
}

.bg-kpi-text {
    background-color: #f37121;
    padding: 10px 15px;
    border-radius: 10px;
    -webkit-box-shadow: -10px 10px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 10px 7px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.75);
}

/* Mid Banner */
.mid-banner {
    width: 100%;
    background-color: #111d5e;
}

/* Botones */
.contact-btn {
    border-color: #f37121;
    border-width: 4px;
    color: #f37121;
}

/* Info section */
/* Imagen servicio */
.img-serv {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-color: #f37121;
    border-width: 10px;
    border-style: solid;
}

/* Title */
.title-kpi h1{
    border-radius: 10px;
    border-width: 5px;
    border-color: #f37121;
    border-style: solid;
    background-color: transparent;
    color: #111d5e;
}

/* Footer */
.footer-kpi {
    height: 10rem;
}